* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Shared style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2 {
  font-size: 45px;
  font-weight: 900;
}

.color-orange {
  color: #fd6e0a;
}

.btn {
  background: #fd6e0a;
  color: #fff;
  padding: 20px 35px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

/* Main style */

header {
  background: #fff8f3;
  margin-top: 50px;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 71%;
  max-width: 1140px;
  align-items: center;
  margin: 0 auto;
}

nav .menu {
  display: flex;
  gap: 50px;
  list-style-type: none;
  align-items: center;
}

nav .menu a {
  font-size: 20px;
  text-decoration: none;
  color: #474747;
}
